div {
  background-color: red !important;

  & .div {
    color: red;
    & .div {
      color: red;
      & .div {
        color: red;
        & .div {
          color: red;
        }
      }
    }
  }
}
